@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.main-container{
  background-image: url('../src/assets/svg/fundorobonovo.jpeg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.custom-button{
  margin-top: 500px;
}

.custom-logo{
  width: 500px;
  height: 600px;
  position: absolute;
  top: 110px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.custom-navbar{
  background-color: #c8a2c85e;
}

.custom-navbar nav{
  opacity: 0.8;
}